<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<title>Edit role - My BookShelf</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="defaultTheme.css" />
		
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	
  	<script type="text/javascript" src="/js/header.js"></script>
</head>
<body>
	<div class="container text-left"><div class="container text-left" sec:authorize="isAuthenticated()">
		<img th:src="@{/images/mybookshelf.png}" />Welcome <b><span
			sec:authentication="name">userName!</span></b><span sec:authentication="principal.authorities">Roles</span>
		<div class="container-fluid">
			<ul class="nav">
				<li class="active"><a th:href="@{/Welcome}">Home</a></li>
				<li><a th:href="@{/Books}">Books</a></li>
					<li sec:authorize="hasAnyAuthority('ADMIN', 'MEMBER')"> <a th:href="@{/listUsers}">Users</a></li>
				<li><a th:href="@{/logout}"> <b>Sign Out</b></a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="container text-left"><h1 align="center">Add Permission</h1></div>
       <form th:action="@{/savePermissions}" method="post" style="max-width: 1000px; margin: 0 auto;" th:object="${permission}">
       		<input type="hidden" th:field="${mode}" />
       		<input type="hidden" th:field="*{defaultEntry}" />
       		<div class="container text-center">
		        <div class="m-3">
		        	<div class="form-group row">
		                <label class="col-5 col-form-label">Permission Code: </label>
						<div class="col-0"><input type="text" th:field="*{permissionCode}" required minlength="2" maxlength="10" />
						</div>
					</div>
		            <div class="form-group row">
		                <label class="col-5 col-form-label">Permission Name:</label>
		                <div class="col-0">
							<input type="text" th:field="*{permissionName}" required minlength="5" maxlength="15" /></div>
					</div>
					<div class="form-group row">
		                <label class="col-5 col-form-label">Enable: </label>
						<div class="col-0"><input type="checkbox" th:field="*{enabled}" 
								th:value="*{enabled}"  class="m-0"/>
						</div>
					</div>					
					<div class="container text-left">
						<button type="submit" class="btn btn-primary">Update</button>	
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
